<!DOCTYPE html>
<html>
	<head>
		<title>C.I.S Tours</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/product.css" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	</head>
	<body>
		<nav>
			<img src="/icons/icon.jpg">
			<section id="buttons">
				<button>Home</button>
				<button>Categories</button>
				<button>Contact Us</button>
			</section>
		</nav>
		<main>
			<div class="parallax" style="background-image: url('<%= product.img %>')"></div>
			<div id="cont">
				<div id="info">
					<div id="left">
						<% if(includes.length > 0){ %>
							<div>Tour includes:</div>
							<% for(i = 0; i < includes.length; i++){ %>
							<div><i class="material-icons">check_circle_outline</i><p><%= includes[i] %></p></div>
							<% } %>
						<% } %>
					</div>
					<div id="right">
						<% if(product.duration != null){ %>
							<div>Duration:</div>
							<div><i class="material-icons">schedule</i><p><%= product.duration %></p></div>
						<% } %>
						<% if(hours.length > 0){ %>
							<div>Hours:</div>
							<% for(i = 0; i < includes.length; i++){ %>
							<div><i class="material-icons">event</i><p><%= hours[i] %></p></div>
							<% } %>
						<% } %>
						<% if(days.length > 0){ %>
							<div>Days:</div>
							<% for(i = 0; i < days.length; i++){ %>
							<div><i class="material-icons">event</i><p><%= days[i] %></p></div>
							<% } %>
						<% } %>
					</div>
				</div>
				<button onClick="$('html, body').animate({scrollTop: $('#book').offset().top}, 1000);">Book Now</button>
				<div>
					<div id="title"><%= product.title %></div>
					<div id="description"><%= product.description %></div>
				</div>
				<a id="book"></a>
			</div>
		</main>
	</body>
</html>
