<!DOCTYPE html>
<html>
	<head>
		<title>C.I.S Tours</title>
		<link rel="icon" href="/icons/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/product.css" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="/javascripts/book.js"></script>
		<script>
			$(function(){
				$("#date").datepicker();
			});
		</script>
	</head>
	<body>
		<nav>
			<% include nav %>
		</nav>
		<main>
			<div class="parallax" style="background-image: url('<%= product.img %>')"></div>
			<div id="cont">
				<div id="title"><%= product.title %></div>
				<div id="standard_price">
					<div class="price"><p>Standard price:</p><p><%= prices[0].price %>&euro;</p></div>
				</div>
				<div id="info">
					<% if(includes.length > 0){ %>
						<div id="right">
							<% if(includes.length > 0){ %>
								<div class="highlights">Tour includes:</div>
								<% for(i = 0; i < includes.length; i++){ %>
								<div><i class="material-icons">check_circle_outline</i><p><%= includes[i] %></p></div>
								<% } %>
							<% } %>
						</div>
					<% } %>
					<% if(product.duration != null || hours.length > 0 || days.length > 0){ %>
						<div id="left">
							<% if(product.duration != null){ %>
								<div class="highlights">Duration:</div>
								<div><i class="material-icons">schedule</i><p><%= product.duration %></p></div>
							<% } %>
							<% if(hours.length > 0){ %>
								<div class="highlights">Hours:</div>
								<div><i class="material-icons">schedule</i><p><%= hours %></p></div>
							<% } %>
							<% if(days.length > 0){ %>
								<div class="highlights">Days:</div>
								<div><i class="material-icons">event</i><p><%= days %></p></div>
							<% } %>
						</div>
					<% } %>
				</div>
				<button onClick="$('html, body').animate({scrollTop: $('#book').offset().top}, 1000);">Book Now</button>
				<div>
					<div id="description"><%= product.description %></div>
				</div>
				<div id="book">
					<div id="form_elems">
						<div class="form_elem"><p>First name:</p><input type="text" id="first_name"></div>
						<div class="form_elem"><p>Last name:</p><input type="text" id="last_name"></div>
						<div class="form_elem"><p>E-mail:</p><input type="text" id="email"></div>
						<div class="form_elem"><p>Phone number:</p><input type="text" id="phone"></div>
						<div class="form_elem"><p>Date:</p><input type="text" id="date"></div>
					</div>
					<div id="price_options">
						<% for(i = 0; i < prices.length; i++){ %>
							<div class="price_option">
								<div><%= prices[i].price_condition %>:</div>
								<div class="price"><%= prices[i].price %>&euro;</div>
								<div class="change_price">
									<button onClick="javascript:sub(<%- i %>)">-</button>
									<input type="text" id="opt<%= i %>" value="0">
									<button onClick="javascript:add(<%- i %>)">+</button>
								</div>
							</div>
						<% } %>
					</div>
					<div id="curr_price">0&euro;</div>
					<div id="form_message">Errore: compila tutti i campi!</div>
				</div>
				<button onClick="javascript:book(<%- product.product_id %>)">Book</button>
			</div>
		</main>
	</body>
</html>
